/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

.dark {
    color: #e0e0e0;
    background-color: #212121;
}

.tb_dark {
    background-color: #e0e0e0;
}

.fontColor {
    color: #e0e0e0;
}

.btn_dark {
    font-weight: bold;
}


/* .title_dark {
    color: #e0e0e0;
    letter-spacing: 0.2px;
    font-weight: '900';
} */